input:hover {
    border-color:khaki ;
}

input:disabled {
    border-color: lightgrey;
}

input:hover{
    border-color:pink
}

.registration-form input{
    width: 240px;
    height: 50;
    border-radius: 3px;
}

.registration-form button {
    width: 120px;
    height: 36;
    border: 1px solid lightgray;
    background-color: khaki;
}